* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #0099ff;
}

button {
  cursor: pointer;
}

main {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.7em;
  width: 90%;
  margin: 3em auto;
  box-shadow: .4em .4em .5em rgba(0,0,0,0.1);
}

.add-form {
  display: flex;
  margin-bottom: 2em;
  gap: .7em;
}

.add-form-submit {
  background-color: #0055ff;
  color: #fff;
  height: auto;
  border: none;
  width: 2em;
  font-size: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .1s background-color ease-in-out;
}

.add-form-submit:hover {
  background-color: #0022ff;
}

.input {
  outline: none;
  width: 100%;
  flex: 1;
  padding: 1em;
  font-size: 1rem;
  border-radius: 1em;
  border: 1px solid #ddd;
}

.input:focus {
  border: 2px solid #0099ff;
  box-shadow: .6px .6px 2px 2px #00ffff;
}

#list {
  border-collapse: collapse;
  width: 100%;
}

#list thead tr {
  background-color: #e7e7e7;
}

#list tbody tr:nth-child(odd) {
  background-color: #fcfcfc;
}

#list tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}

#list th,
#list td {
  padding: .8em 1em;
  text-align: center;
}

#list th {
  border: 2px solid #bbb;
}

#list td {
  color: #333;
  border: 2px solid #ddd;
}

select.task-select {
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  border: none;
  width: 100%;
  padding: .5em 1em;
  border-radius: .5em;
  transition: .1s background-color ease-in-out;
  text-transform: capitalize;
  background-color: #e9e9e9;
}

select.task-select:hover {
  background-color: #ddd;
}

.task-btn {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  border: none;
  padding: .6em;
  margin: .25em;
  border-radius: .5em;
  transition: .1s background-color ease-in-out;
}

button.task-btn[disabled] {
  cursor: default;
  background-color: #777 !important;
}

.task-btn:nth-child(1) {
  background-color: #ffa500;
}

.task-btn:nth-child(1):hover {
  background-color: #ff8500;
}

.task-btn:nth-child(2) {
  background-color: #ff0000;
}

.task-btn:nth-child(2):hover {
  background-color: #dd0000;
}